<div class="about-container">
  <div>
    <div>
      <div>
        <img src="assets/giorgio-trovato-WyxqQpyFNk8-unsplash.jpg" height="400" width="325"/>
      </div>
      <div>
        <em>
          Photo by Giorgio Trovato on <a class="attribution-link" href="https://unsplash.com/photos/white-and-black-printer-paper-WyxqQpyFNk8" target="_blank">Unsplash</a>
        </em>
      </div>
    </div>
  </div>

  <div>
    <p class="head">Who are we?</p>
    <br>
    <p class="about">
      Here at Loan App Inc, we've always been passionate about helping people calculate how they'll be paying back their loans. Our founder and CEO, Johnny Loanman,
      always hated having to do math for himself in school, especially since calculators and search engines are literally everywhere these days.
      It was this spite towards his elementary school math teachers that inspired Johnny to create this application, as if he could ensure
      that there would be fewer math-related headaches in the world, then it would all be worth it.
      <br> <br>
      So whether you're planning to have a big wedding or buying
      a house, a new car, or weren't fortunate enough to get your student loans canceled (if so, sorry about that), you can fully trust Loan App to help when
      when it comes to calculating your average payment and interest on any kind of loan (but not when it comes to actually paying back those loans, that's on you)
      <br> <br>
      You might have noticed, but our site theme is based on House Hufflepuff from the <i>Harry Potter</i> book series, which is the house that's
      somewhat infamous for hardly ever mattering to the story at all. That's why we thought it would be fun to base our site theme off of it, you know
      so at least it would have that going for it, even if it's not much. As Johnny Loanman would always say, if doing math was as easy to forget about as House Hufflepuff
      is, then the world would be a better place... probably. We still have to fact-check that one.
    </p>
  </div>
</div>
