<div class="contact contact-container">
  <div>
    <mat-card-title class="card-title-icon">
      <mat-icon color="primary">navigation</mat-icon>
    </mat-card-title>
    <br />
    <mat-card-content class="align-center">
      <p>7002 Pretend street</p>
      <p>Binghamton, New York</p>
    </mat-card-content>
  </div>

  <div>
    <mat-card-title class="card-title-icon">
      <mat-icon class="align-center" color="primary">phone</mat-icon>
    </mat-card-title>
    <br />
    <mat-card-content class="align-center">
      <p>Direct: 111-222-3333</p>
      <p>Toll-free: 1-888-555-5555</p>
      <p>Fax: 555-555-5555</p>
    </mat-card-content>
  </div>
</div>

<br /><br /><br /><br />
<div fxLayout="column">
    <p style="text-align: center">
        Visit us online or at one of our many great locations throughout the Tri Cities Area
    </p>
</div>
