<div class="grid-container">
  <div class="upper-row">
    <div class="entry-container card-border">
      <div class="title-error">
        <h1>title placeholder</h1>
        <h2>error placeholder</h2>
      </div>
      <div class="inputs">
        <div></div>
        <div class="input-col">
          <p>input placeholder</p>
          <p>input placeholder</p>
          <p>input placeholder</p>
          <p>submit button placeholder</p>
        </div>
        <div></div>
      </div>
    </div>
  </div>

  <div class="lower-row"></div>
</div>
