.grid-container{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  text-align: center;
}

.upper-row{
  width: 1200px;
}

.lower-row{
  display: flex;
  justify-content: center;
}

.entry-container{
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.results-container{
  width: 80%;
  text-align: center;
  height: 45%;
  margin-top: 5%;
}

.input-col{
  margin: 30%;
}

.inputs{
  margin-top: 4%;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  justify-content: center;
}

.card-border{
  border: 25px solid #FFC107;
  border-radius: 5px
}

input{
  height: 26px;
  width: 100%;
  font-size: 20px;
}

label{
  font-size: 22px;
  text-align: right;
}

.mat-raised-button {
  font-size: 18px;
  padding: 8px;
}

.mat-raised-button:disabled {
  color: white;
  background-color: gray;
}

.mat-card-title{
  font-size: 26px;
}

.results{
  color:#FFC107;
  font-size: 48px;
  margin-bottom: 5%;
}

.result-head{
  margin-bottom: 3%;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
